button {
    background-color: transparent;
    border-radius: 15px;
    border-color: rgba(4, 4, 4, 0.097);
    width: 200px;
    height: 50px;
    font-size: 1em;
}
button:hover {
    border-color: rgba(4, 4, 4, 0.24);
    cursor: pointer;
    background-color: rgba(130, 130, 255, 0.055);
    box-shadow: 5px 5px rgba(130, 130, 255, 0.055);
}

#buttonWelcome {
    transform: translateY(-70px);
}
