.surveyOuterContainer {
    max-height: 72vh;
}

.surveyContainer {
    overflow-x: hidden;
}

.surveyContainerNoResults {
    max-height: 30vh;
}

.surveyContainerResults {
    min-height: 73vh;
    max-height: 30vh;
    animation: softSlideY 1.5s ease-in-out;
}
@keyframes softSlideY {
    0% {
        min-height: 30vh;
        max-height: 30vh;
    }
    100% {
        min-height: 73vh;
    }
}

h1 {
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.796);
}

h3 {
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.796);
}

#questions {
    font-family: "Helvetica Neue", sans-serif;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 40px;
}

h5,
ol {
    transform: translateY(-50px);
}

#selectedTitle {
    letter-spacing: 5px;
}

.selectedTitleParentesis {
    color: #00000052;
    animation: fading2 5s infinite;
}
.stp1 {
    animation: fading1 2.5s infinite;
}
.stp2 {
    animation: fading2 2.5s infinite;
}
@keyframes fading1 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0.9;
    }
}
@keyframes fading2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}

#loading {
    margin: auto;
    display: block;
    width: 200px;
}

.lds-ripple {
    margin: auto;
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    zoom: 7;
    right: -1.5px;
    bottom: 5px;
}
.lds-ripple div {
    position: absolute;
    border: 1px solid rgb(130, 130, 255);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1.25s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

#chooseList:hover {
    cursor: pointer;
}

#numPeopleSelSurveyHand::before {
    content: "👉🏼 ";
    position: absolute;
    /* transform: translate(-50px, -5px); */
    transform: translate(-110px, 25px);
    zoom: 1.2;
    animation: bounceLeft 2s infinite;
}
@keyframes bounceLeft {
    0% {
        /* transform: translate(-20px, -5px); */
        transform: translate(-110px, 25px);
    }
    50% {
        /* transform: translate(-30px, -5px); */
        transform: translate(-130px, 25px);
        opacity: 0.1;
    }
    100% {
        /* transform: translate(-20px, -5px); */
        transform: translate(-110px, 25px);
    }
}
#numPeopleSelSurvey {
    animation: hidingN 2s infinite;
    /* border: 1px solid red; */
    padding: 5px 10px;
    border-radius: 20px;
}
@keyframes hidingN {
    0% {
        background-image: linear-gradient(
            120deg,
            #84faaf00 0%rgba (143, 210, 244, 0) f4 100%
        );
    }
    100% {
        background-image: linear-gradient(120deg, #84faafaa 0%, #8fd2f493 100%);
    }
}

#chartShowHideBtn {
    zoom: 1.5;
    border: 1px solid rgba(0, 0, 0, 0.255);
    border-radius: 50%;
    padding: 3px;
    position: absolute;
    /* transform: translate(10px, -7px); */
    transform: translate(-70px, 18px);
    animation: hiding 2s infinite;

    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.17);
}
#chartShowHideBtn:hover {
    animation-play-state: paused;
    transition: 0.5s;
    background-color: rgba(0, 255, 0, 0.25);
    cursor: pointer;
}

#rangeReadOnly {
    width: 80%;
    margin: 0 10%;
}
#rangeReadOnly:hover {
    cursor: not-allowed;
}

#avaragePeopRange {
    margin: auto;
    display: block;
    width: 550px;
    transform: translateY(35px);
    color: rgba(0, 0, 0, 0.597);
    /* color: rgba(255, 0, 0, 0.705); */
}

.higestNum {
    border-radius: 15px;
    padding: 5px 10px;
    animation: hiding 2s infinite;
}
@keyframes hiding {
    0% {
        background-color: rgba(0, 255, 0, 0);
    }
    100% {
        background-color: rgba(0, 255, 0, 0.25);
    }
}
.higestNum::after {
    content: " 👈🏼 ";
    position: absolute;
    animation: bounceRight 1.9s infinite;
}
@keyframes bounceRight {
    0% {
        transform: translate(25px, -5px);
    }
    50% {
        opacity: 0;
    }
    70% {
        transform: translate(550px, -5px);
        opacity: 0;
    }
    100% {
        transform: translate(25px, -5px);
        opacity: 1;
    }
}

#liText {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.789);
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
    /* list-style-type: none; */
}

#numHighestNum {
    color: rgba(255, 0, 0, 0.705);
    font-size: 0.95em;
    letter-spacing: 2px;
}

#ulComments {
    list-style-type: "­­­­‑ ";
}

small {
    color: rgba(0, 0, 0, 0.6);
}

#chartBar {
    margin-top: 20px;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    padding: 20px;
    background: transparent;
}

#noSurveyet {
    color: rgba(0, 0, 0, 0.6);
    margin-top: 5vh;
}

#emptyTray {
    width: 100px;
    opacity: 0.75;
    margin-top: 10vh;
    margin-bottom: 2vh;
    animation: bounce 3.9s infinite;
}
@keyframes bounce {
    0% {
        transform: translateY(-250px);
        opacity: 0;
    }
    90% {
        width: 350px;
    }
    100% {
        width: 350px;
        opacity: 0.75;
    }
}

.chooseAnotherSurvey {
    margin-bottom: 5vh;
}

.chooseAnotherS {
    position: relative;
    bottom: 15px;
}
